<%= render 'layouts/flash_message' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-12 px-5 px-sm-0 mx-auto">
      <h3 class="border-box py-5">ログイン</h3>
      <%= form_with model: @user,url: user_session_path do |f| %>
      <div class="form-group row">
        <%= f.label :email, "メールアドレス", class: "col-sm-3 col-form-label"  %>
        <div class="col-sm-6">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :password, "パスワード", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>
      <div class="row pt-4">
        <div class="mx-auto">
          <div class="row">
            <div class="col"><%= f.submit "ログイン", class: 'btn btn-primary btn-block', style: 'width: 200px;' %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--パスワードを忘れた場合-->
<!--<%= render "user/shared/links" %>-->
