
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-12 px-5 px-sm-0 mx-auto">
    <%= form_with model: @register, url: admin_register_path do |f| %>
      <h3 class="border-box py-5">台帳詳細</h3>
      <div class="col-lg-12 px-5 px-sm-0 mx-auto">
        <div class="row">
          <div class="col-lg-3">
            <p for="id">管理番号</p>
          </div>
          <div class="col-lg-6">
            <%= f.text_field :reference_number %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p for="id">名称</p>
          </div>
          <div class="col-lg-6">
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p for="id">台帳説明</p>
          </div>
          <div class="col-lg-6">
            <%= f.text_field :detail %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p for="id">削除ステータス</p>
          </div>
          <div class="col-sm-2">
            <%= f.radio_button :is_deleted, false %>　登録中
          </div>
          <div class="col-sm-3">
            <%= f.radio_button :is_deleted, true %>　削除中
          </div>
        </div>
      </div>
      <%= f.submit '変更を保存', class: 'btn btn-success btn-lg' %>
    </div>
    <% end %>
  </div>
</div>