<%= render 'layouts/flash_message' %>
<div class="container-auto mx-5">
  <div class="row p-0">
    <div class="col-lg-12">
      <h3 class="border-box py-4">台帳一覧</h3>
    </div>
  </div>
  <div class="row-auto">
    <div class="col-lg-12">
      <input id="acd-check1" class="acd-check" type="checkbox">
        <label class="acd-label" for="acd-check1">条件検索</label>
        <div class="acd-content">
        <%= form_with(url: admin_registers_path, method: "get", class: "search-form") do %>
          <%= text_field_tag :search_reference_number, params[:search_reference_number], placeholder: "管理番号を検索..." %>
          <%= text_field_tag :search_name, params[:search_name], placeholder: "名称を検索..." %>
          <%= text_field_tag :search_detail, params[:search_detail], placeholder: "台帳説明を検索..." %>
          </br><%= submit_tag "検索", class: "btn btn-light mt-1" %>
        </div>
        <%= link_to '条件クリア', admin_registers_path, class: "btn btn-secondary mt-1" %>
        <%= link_to "新規登録", admin_new_register_path, class: 'btn btn-success mt-1' %>
      <% end %>
    </div>
  </div>
  <div class="navbar navbar-expand-lg navbar-light">
    <table class="table table-hover tabel-inverse col-lg-12">
      <thead>
        <tr>
          <!--sort_orderはhelper記述-->
          <th class="col-lg-1">管理番号 <%= user_registers_sort_order "reference_number", "" %></th>
          <th class="col-lg-2">名称 <%= user_registers_sort_order "name", "" %></th>
          <th class="col-lg-4">台帳説明 <%= user_registers_sort_order "detail", "" %></th>
          <th class="col-lg-1">登録/削除 <%= user_registers_sort_order "is_deleted", "" %></th>
        </tr>
      </thead>
      <tbody>
        <% @registers.each do |register| %>
        <tr>
          <td><p class="d-inline-block text-truncate"  style="max-width: 90px;">
            <%= link_to register.reference_number, admin_register_path(register) %>
            </p></td>
          <td><p class="d-inline-block text-truncate" style="max-width: 150px;"><%= register.name %></p></td>
          <td><p class="d-inline-block text-truncate" style="max-width: 150px;"><%= register.detail  %></P></td>
          <td>
            <% if register.is_deleted %>
              <p class="text-secondary" style="width: 90px;">削除中</p>
            <% else %>
              <p class="text-success" style="width: 90px;">登録中</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
    <div class="mb-3 d-flex justify-content-center">
    <%= paginate @registers %>
  </div>
</div>
