<%= render 'layouts/flash_message' %>
<div class="container-auto mx-5">
  <div class="row p-0">
    <div class="col-lg-12">
      <h3 class="border-box py-4">台帳新規登録</h3>
    </div>
  </div>
  <div class="row p-0">
    <div class="col-lg-9 offset-3">
      <%= form_with model: @register, url: create_admin_register_path do |f| %>
      <%= render 'admin/registers/validation_error' %>
      <div class="row pb-3">
        <div class="col-lg-2">管理番号</div>
        <div class="col-lg-6">
          <%= f.text_field :reference_number, style: 'width: 300px;', placeholder: "000000" %>
          <div>
            <% @register.errors.full_messages_for(:reference_number).each do |message| %>
            <div class="error_message">※ <%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-lg-2">名称</div>
        <div class="col-lg-6">
          <%= f.text_field :name, style: 'width: 300px;', placeholder: "○○ビル" %>
          <div>
            <% @register.errors.full_messages_for(:name).each do |message| %>
            <div class="error_message">※ <%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-lg-2">台帳説明</div>
        <div class="col-lg-6">
          <%= f.text_area :detail, style: 'width: 300px;' %>
          <div>
            <% @register.errors.full_messages_for(:detail).each do |message| %>
            <div class="error_message">※ <%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="row offset-2">
          <div class="col"><%= link_to "一覧画面", admin_registers_path, class: 'btn btn-primary' %></div>
          <div class="col"><%= f.submit "新規登録", class: 'btn btn-success' %></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
