<%= render 'layouts/flash_message' %>
<div class="container-auto mx-5">
  <div class="row p-0">
    <div class="col-lg-12 mx-auto">
      <h3 class="border-box py-4">台帳詳細</h3>
    </div>
  </div>
  <div class="row p-0">
    <div class="col-lg-8 offset-4">
      <div class="row pb-2">
        <div class="col-lg-3">管理番号</div>
        <div class="col-lg-6">
          <%= @register.reference_number %>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-lg-3">名称</div>
        <div class="col-lg-6">
          <%= @register.name %>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-lg-3">台帳説明</div>
        <div class="col-lg-6">
          <%= safe_join(@register.detail.split("\n"),tag(:br)) %>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-lg-3">登録/削除</div>
        <div class="col-lg-6">
          <% if @register.is_deleted %>
            <div class="text-secondary">削除中</div>
          <% else %>
            <div class="text-success">登録中</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <div class="row mx-auto">
      <div class="col mr-5 pl-0"><%= link_to "一覧画面", admin_registers_path, class: 'btn btn-primary' %></div>
      <div class="col">  <%= link_to "編集する", edit_admin_register_path(@register[:id]), class: 'btn btn-success' %></div>
    </div>
  </div>
</div>
