<!--エラーメッセージ表示-->
<div>
  <% flash.each do |message_type, message| %>
    <% if message_type == "alert" %>
      <div class="alert-message text-danger text-center border border-danger flash-message px-5">
        <%= message %>
      </div>
    <% elsif message_type == "notice" %>
      <div class="notice-message text-primary flash-message px-5">
        <%= message %>
      </div>
    <% else %>
      <div class="default-message flash-message px-5">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="container-auto mx-5">
  <div class="row">
    <div class="col-lg-9">
      <h3 class="border-box py-4">（<%= @register.name %>台帳）機器一覧</h3>
    </div>
    <div class="col-lg-3 my-3">
      <%= link_to "csvを出力する", user_register_equipments_path(format: :csv), class: 'btn btn-success my-1' %>
      <%= form_with(url: user_register_equipments_path, local: true) do |form| %>
        <%= form.file_field :file %>
        <%= form.submit "CSVファイルをインポート", class: "mt-1" %>
      <% end %>
    </div>
  </div>
  <div class="row-auto">
    <div class="col-lg-12">
      <% if !current_user.edit_permission %>
      <% end %>
      <input id="acd-check1" class="acd-check" type="checkbox">
        <label class="acd-label" for="acd-check1">条件検索</label>
        <div class="acd-content">
        <%= form_with(url: user_register_equipments_path, method: "get", class: "search-form") do %>
          <%= text_field_tag :search_reference_number, params[:search_reference_number], placeholder: "管理番号を検索..." %>
          <%= text_field_tag :search_introductio, params[:search_introductio], placeholder: "系統を検索..." %>
          <%= text_field_tag :search_name, params[:search_name], placeholder: "名称を検索..." %>
          <%= text_field_tag :search_model, params[:search_model], placeholder: "型番を検索..." %>
          <%= text_field_tag :search_location, params[:search_location], placeholder: "設置箇所を検索..." %>
          <%= text_field_tag :search_date, params[:search_date], placeholder: "製造年月日を検索..." %>
          <%= submit_tag "検索", class: "btn btn-light mt-1" %>
        </div>
        <%= link_to '条件クリア', user_register_equipments_path, class: "btn btn-secondary mt-1" %>
        <% if !current_user.edit_permission %>
          <%= link_to "新規登録", new_user_register_equipment_path(@register), class: 'btn btn-success mt-1' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="navbar navbar-expand-lg navbar-light">
    <table class="table table-hover tabel-inverse col-lg-12">
      <thead>
        <tr>
          <!--sort_orderはhelper記述-->
          <th class="col-lg-1">管理番号 <%= equipments_sort_order "reference_number", "" %></th>
          <th class="col-lg-2">系統 <%= equipments_sort_order "introduction", "" %></th>
          <th class="col-lg-2">名称 <%= equipments_sort_order "name", "" %></th>
          <th class="col-lg-2">型番 <%= equipments_sort_order "model", "" %></th>
          <th class="col-lg-1">設置箇所 <%= equipments_sort_order "location", "" %></th>
          <th class="col-lg-1">製造年月日 <%= equipments_sort_order "date", "" %></th>
          <th class="col-lg-1">登録/削除 <%= equipments_sort_order "is_deleted", "" %></th>
        </tr>
      </thead>
      <tbody>
        <% @equipments.each do |equipment| %>
        <tr>
          <td><p class="d-inline-block text-truncate"  style="max-width: 90px;">
            <%= link_to equipment.reference_number, user_register_equipment_path(@register,equipment) %>
          </p></td>
          <td><p class="d-inline-block text-truncate" style="max-width: 150px;"><%= equipment.introduction %></p></td>
          <td><p class="d-inline-block text-truncate" style="max-width: 150px;"><%= equipment.name %></td>
          <td><p class="d-inline-block text-truncate" style="max-width: 150px;"><%= equipment.model %></td>
          <td><p class="d-inline-block text-truncate" style="max-width: 150px;"><%= equipment.location %></td>
          <td><p class="d-inline-block text-truncate" style="width: 100px;"><%= equipment.date %><p></p></td>
          <td><% if equipment.is_deleted %>
            <p class="text-secondary" style="width: 90px;">削除中</p>
              <% else %>
            <p class="text-success" style="width: 90px;">登録中</p>
              <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <%= paginate @equipments %>
  </div>
</div>
