<%= render 'layouts/flash_message' %>
<div class="container-auto mx-5">
  <div class="row p-0">
    <div class="col-lg-12">
      <h3 class="border-box py-4">ユーザー情報</h3>
    </div>
  </div>
  <div class="row p-0">
    <div class="col-lg-9 offset-3">
      <div class="row pb-2">
        <div class="col-lg-2">社員番号</div>
        <div class="col-lg-6">
          <%= @user.code %>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-lg-2">氏名</div>
        <div class="col-lg-6">
          <%= @user.name %>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-lg-2">フリガナ</div>
        <div class="col-lg-6">
          <%= @user.name_kana %>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-lg-2">メールアドレス</div>
        <div class="col-lg-6">
          <%= @user.email %>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-lg-2">パスワード</div>
        <div class="col-lg-6">※※※※※※※※</div>
      </div>
      <div class="row pb-1">
        <div class="col-lg-2">編集権限</div>
        <div class="col-lg-6">
          <% if @user.edit_permission %>
            <div class="text-secondary">無</div>
          <% else %>
            <div class="text-success">有</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <div class="row offset-3">
  <% if user_signed_in? && @user == current_user %>
    <%= link_to "パスワードの変更", edit_user_registration_path, class: 'btn btn-primary' %>
  <% end %>
    </div>
  </div>
</div>