<%= render 'layouts/flash_message' %>
<div class="container-auto mx-5">
  <div class="row p-0">
    <div class="col-lg-12 mx-auto">
      <h3 class="border-box py-4">ユーザー編集</h3>
    </div>
  </div>
  <div class="row p-0">
    <div class="col-lg-12">
      <%= form_with model: @user, url: admin_user_path do |f| %>
      <%= render 'admin/users/validation_error' %>
      <div class="row offset-3 pb-2">
        <div class="col-lg-3">社員番号</div>
        <div class="col-lg-9">
          <%= f.text_field :code, style: 'width: 300px;' %>
          <div>
            <% @user.errors.full_messages_for(:code).each do |message| %>
            <div class="error_message">※ <%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row offset-3 pb-2">
        <div class="col-lg-3">名前</div>
        <div class="col-lg-9">
          <%= f.text_field :name, style: 'width: 300px;' %>
          <div>
            <% @user.errors.full_messages_for(:name).each do |message| %>
            <div class="error_message">※ <%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row offset-3 pb-2">
        <div class="col-lg-3">フリガナ</div>
        <div class="col-lg-9">
          <%= f.text_field :name_kana, style: 'width: 300px;' %>
          <div>
            <% @user.errors.full_messages_for(:name_kana).each do |message| %>
            <div class="error_message">※ <%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row offset-3 pb-2">
        <div class="col-lg-3">メールアドレス</div>
        <div class="col-lg-9">
          <%= f.text_field :email, style: 'width: 300px;' %>
          <div>
            <% @user.errors.full_messages_for(:email).each do |message| %>
            <div class="error_message">※ <%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row offset-3 pb-2">
        <div class="col-lg-3">社員/退社</div>
        <div class="col-lg-2">
          <%= f.radio_button :is_deleted, false %> 社員
        </div>
        <div class="col-lg-2">
          <%= f.radio_button :is_deleted, true %> 退社
        </div>
      </div>
      <div class="row offset-3 pb-2">
        <div class="col-lg-3">編集権限</div>
        <div class="col-lg-2">
          <%= f.radio_button :edit_permission, false %> 有
        </div>
        <div class="col-lg-2">
          <%= f.radio_button :edit_permission, true %> 無</br>
        </div>
      </div>
      <div class="row pt-4">
        <div class="row mx-auto pt-4">
          <div class="col mr-5 pl-0"> <%= link_to "戻る", admin_user_path(@user[:id]), class: 'btn btn-primary' %></div>
          <div class="col"><%= f.submit '変更を保存', class: 'btn btn-success' %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>