<%= render 'layouts/flash_message' %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <h3 class="border-box py-4">パスワード再設定</h3>
    </div>
  </div>
  <div class="row mx-auto">
    <div class='col-lg-8 mx-auto  border border-dark rounded mb-5 p-2'>
      <div class="text-center">ご登録されているメールアドレスにパスワード再設定メールを送信します</br>
      メールアドレスを入力の上『メール送信』をクリックしてください。</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <%= form_with model: @user, url: user_password_path, class: 'registration-main', local: true do |f| %>
      <div class='row'>
        <div class="col-lg-2 offset-1">メールアドレス</div>
        <div class="col-lg-6">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
            <div>
            <% resource.errors.full_messages.each do |message| %>
              <div class="error_message">※ <%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row mx-auto mt-4">
        <div class="col-lg-3 offset-3"><%= link_to "ログイン画面へ", new_session_path(resource_name), class: 'btn btn-primary btn-block', style: 'width: 200px;' %></div>
        <div class="col-lg-3"><%= f.submit "メール送信", class: 'btn btn-success btn-block', style: 'width: 200px;' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>