<!DOCTYPE html>
<html>
  <head>
    <title>Ourledger</title>
    <link rel="icon" href="favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/706fd79568.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--追記-->
    <meta name="turbolinks-visit-control" content="reload">
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <nav class="container">
          <a class="navbar-brand" href="/"><%= image_tag('ourledger.png', width: 120, height: 50) %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"マイページ", admin_home_page_path, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"管理者ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"ユーザー 一覧", admin_users_path, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"台帳一覧", admin_registers_path, class: 'nav-link text-dark'  %></button>
            </li>
            <% elsif user_signed_in? %>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"マイページ", user_home_page_path, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"台帳一覧", user_registers_path, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"ユーザーログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark'  %></button>
            </li>
            <% else %>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"about", about_page_path, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"ユーザーログイン", new_user_session_path, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"管理者ログイン", new_admin_session_path, class: 'nav-link text-dark'  %></button>
            </li>
            <% end %>
            </ul>
          </div>
        </nav>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
